snippet header "Create the YAML header for a markdown file."
---
title: $1
author: $2
date: `!v strftime("%d-%m-%Y")`
toc: true
toc-title: Table of Contents

---
endsnippet

snippet notes "Quickly take notes."
---
toc: true
toc-title: Table of Contents

---

# $1
> Instructor: $2 \
> Date: `!v strftime("%d-%m-%Y")` \
endsnippet
